      .marquee {
          overflow: hidden;
          white-space: nowrap;
          box-sizing: border-box;
          animation: marquee 8s linear infinite;
      }

      @keyframes marquee {
          0% {
              text-indent: 0;
          }

          100% {
              text-indent: -100%;
          }
      }

      #playlist::-webkit-scrollbar {
          width: 8px;
          background: #232734;
      }

      #playlist::-webkit-scrollbar-thumb {
          background: #35394a;
          border-radius: 4px;
      }

      #shuffleBtn {
          transition: all 0.2s ease-in-out;
      }

      #shuffleBtn:hover {
          transform: scale(1.1);
      }